# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Docker files and environment variables
.env
.env.*

# FastAPI / Uvicorn
*.pid
*.sock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store
